<h1>Repro</h1>

<!-- This one should throw errors, cause the @Input()'s are required -->
<!-- <app-sub></app-sub> -->

<!-- This one is valid and should not raise any issues.  -->
<app-sub
  [testNumber]="1234"
  [testString]="'string'"
  [testBool]="true"
></app-sub>

<!-- This one should throw errors; a string to bool, a string to number and a number to string are wrong. -->
<app-sub
  [testBool]="'1234'"
  [testNumber]="'test'"
  [testString]="1234"
></app-sub>

<!-- This one should throw errors; a string to bool, a string to number are wrong.
     A string into a string is correct. -->
<app-sub [testBool]="'123'" [testNumber]="'123'" [testString]="'123'"></app-sub>
